/* Partie de Thomas */

body {
  background-color: yellow;
  margin: 6px;
}

main {
  height: 50rem;
  width: 50rem;
  background-color: orange;
  border: 1px solid black;
}
/* fin partie de Thomas */
